*{
    margin: 0;
    padding: 0;
}
 .main-contaner{
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 100;
    width: 100%;

 } 
.fnav{
    display: flex;
    padding: 20px;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 5px;
}

.img1{
    height: 60px;
    margin-left: -10px;
    display: block;
}
.img2{
    height: 30px;
    margin-top: 15px;
    display: block;
}

.fnav input{
    margin-left: 64px;
    height: 37px;
    width: 435px;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid grey;
    padding-left: 10px;
    outline: none;
    margin-right: 100px;
}
.fnav input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.paras{
    display: flex;
    gap: 30px;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 13px;
}

.snav{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: #fbf9f7;
    position: relative;
    height:60px ;
    /* z-index: 100; */

}
.snav .glasses{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background-color:#fbf9f7;
    padding: 10px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left:25px ;
    height: 43px;
    width: 66vw;
    cursor: pointer;
}
.logo1{
    height: 30px;
        border-radius: 5px;

}
.logo2{
    height: 30px;
        border-radius: 5px;

}
.logo3{
    height: 30px;
    border-radius: 5px;
}
.snav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    gap: 8px;
}

/* SLIDER CSSSS */
.slider{
    position:relative;
    width:100%;
    height:400px; 
    overflow:hidden;
    margin-top: 160px;
    /* margin-top: 150px; */
    /* margin-bottom: 50px; */
  }

  .slides{
    display:flex;
    height: 100%;
    width:100%;
    transition:0.6s ease;
  }

  .slide{
    max-width: 100%;
    min-width: 100%;
   height: 100%;
   /* height: 650px;   */
    object-fit:cover;
    /* display: block; */
  }

  /* Arrows */
  .arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:35px;
    color:white;
    /* background:rgba(0,0,0,0.4); */
    padding:10px;
     cursor:pointer;
    /* border-radius:4px; */
    border: none;
    user-select:all;
    z-index: 10;
  }
  .arrow:hover{
    /* background-color:rgba(0,0,0,0.7);  */
  }
  .left{ left:20px; }
  .right{ right:20px; }

/* --SLIDER CSS END-- */


 /* .main-img{
  overflow: hidden;
}
.main{
    display: flex;
    height: 500px;
    width: 100vw;
    margin-top: 160px;
    z-index: 10;
}
.main img{
   display: block;
   width: 100%;
   height: 540px;  
}*/
.gogals{
    display: flex;
    justify-content: space-between;
}
.text{
    margin-top: 50px;
    flex-direction: column;
    /* gap: 10px; */
    margin-left: 70px;font-family: 'Times New Roman', Times, serif;
    color: rgb(51, 51,51);
}
.wear{
    font-size: 50px;
    font-weight: bold;
    font-family:"Plus Jakarta Sans", sans-serif;
    color:rgb(51, 51,51);
    letter-spacing: -2px;
}
.the{
   font-size: 50px;
    font-weight: bold;
    font-family:"Plus Jakarta Sans", sans-serif;
    color:rgb(51, 51,51);
    letter-spacing: -2px; 
}
.trend{
    font-size:50px ;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(51, 51,51);
    line-height: 0.45;
    letter-spacing: -2px;
    margin-top: 10px;
}

 .text3{
    font-size: 20px;
    margin-top: 20px;
    
}
 .arrow1 img{
    height: 50px;
    width: 50px;
    margin-right: 50px;
    margin-top: 50px;

 }

 .carts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
 }
.allcart{
    display: flex;
    gap: 40px;

}
.allcart .card img{
    height: 95px;
    gap: 30px;
}
.allcart .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allcart .card p{
    font-size: 18px;
    margin-top: 9px;
    font-family:"Plus Jakarta Sans", sans-serif; 
    color: rgb(51, 51,51);
}

.allcart .card button{
height: 45px;
width: 130px;
background-color: #56b7c3;
border: none;
border-radius: 5px;
color: white;
font-size: 18px;
margin-top: 20px;
}
 .arrow2 img{
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-top: 50px;
 }

  .box1 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 
 .box1 h4::before,
.box1 h4::after {
  content: "";
  display: inline-block;
  width: 00px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}

.box1 img{
    width: 100%;
    height: 500px;
 }

 .box2 img{
    width: 100%;
    height: 500px;
 }
 .box2 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 .box2 h4::before,
.box2 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}


 .box3 img{
    width: 100%;
    height: 500px;
 }
 .box3 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 .box3 h4::before,
.box3 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}


 .box4 img{
    width: 100%;
    height: 500px;
 }
 .box4 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 .box4 h4::before,
.box4 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}


 .box5 img{
    width: 100%;
    height: 500px;
 }
 .box5 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 .box5 h4::before,
.box5 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}


 .box6 img{
    width: 100%;
    height: 500px;
 }
 .box6 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 .box6 h4::before,
.box6 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}

.box7 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
    
 }
 .box7 h4::before,
.box7 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
}

 .box7 .images {
  display: flex;
  align-items: center;
   justify-content: center;
  width: 100%;
  gap: 10px;
}


/* LEFT SECTION */
.f-sec {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: -200px;
  
}

.f-sec .fristimg img {
  width: 70%;
  object-fit: cover;
}

.f-sec .secondimg img {
  width: 70%;     /* SMALL image */
  object-fit: cover;
}

/* RIGHT SECTION */
.s-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-bottom: 220px;
  gap: 10px;
}

.s-sec img {
  width: 90%;
  object-fit: cover;
}
 .box8 h4::before,
.box8 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
} 
 .box8 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
  
 }
.box8-con{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
  margin-right: 80px;
  gap: 10px;
}

.box8-con img{
  width: 100%;
  height: 300px;
}
.box9 h4::before,
.box9 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 40px;
} 
 .box9 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
  
 }  
 
 .img-grid .f-grid{
  display: flex;
  justify-content: center;
  width: 1300px;
  height: 230px;
  gap: 8px;
  margin: 10px;
 }

 .img-grid .s-grid{
  display: flex;
  justify-content: center;
  width: 900px;
  height: 300px;
  gap: 8px;
  margin-left: 214px;
  margin-right:90px ;
 }
.box10 h4::before,
.box10 h4::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #ccc;
  vertical-align:middle;
  margin: 0 40px;
} 
 .box10 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
  
 }  
 .box10-img img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 }

 
  .specs-box1 .box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    margin-top: 30px;
  }

.box-text h3{
  width: 500px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(48, 40, 40);
    padding: 5px;
}
.box-text p{
  width: 530px;
  text-align: end;
  color: rgb(50, 156,146 );
  font-size: 20px;
}
.line{
  border: none;
  content: "";
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 1040px;
  height: 1px;
  background: #ccc;
  margin: 0 40px; 
  /* margin-bottom: 50px; */
  margin-left: 157px;

}

.specs{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  
}
.specs-img img{
  height: 114px;
}
.specs .specs-img{
  /* height: 120px; */
  display: flex;
  gap:80px;
  margin-right: 30px;
  margin-left: 90px;
}
 .arrow-box img{
  display: flex;
  align-items: center;
  justify-content: center;
    height: 80px;
    margin-bottom: 15px;
    cursor: pointer;
    /* margin-right: 20px; */
    /* margin-top: 29px; */
 }
 .box11  img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 }
 .box12 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 }
.box13 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 }
 .box14 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 }
 .box15 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
 }
 .box16 img{
  width: 100%;
  height: 87px;
  object-fit: cover;
 }
 .footer{
  background-color: #000042;
  color: white;
  padding: 40px;
  margin-top: 5px;
  
 }
 .footer h1{
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 7px;
  font-size: 32px;
  line-height: 35px;
 }
 .footer .para1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em;
 }
 .footer .para2{
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em;
 }
 .footer .para2 a{
    color: rgb(50, 156,146 );
    text-decoration: none;
 }
.footer .footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ul-content{
  display: flex;
  gap: 95px;
  line-height: 2;
  margin-top: 35px;
}
.ul-content h2{
  font-size: 25px;
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ul-content ul li{
  list-style: none;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 3;
  
}
.footer .down-img{
  /* display: flex; */
  column-gap: 8;
  cursor: pointer;
  margin-bottom: 18px;
}
.download-content .p1{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.download-content .p2{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.line2{
  border: none;
  content: "";
  display: inline-block;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 1px;
  background: #ccc;
  /* margin: 0 40px;  */
  margin-top: 30px;
  /* margin-left: 157px; */
}

.bottom-footer{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 10px;
  /* gap: 70px; */
}

.left-f ul {
display: flex;
gap: 80px;
list-style: none;
margin-top: 30px;
font-size: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right-f{
  display: flex;
  align-items:end;
  justify-content: right;
  width: 97%;
  margin-top: -15px;
  /* gap: 50px; */
}
.right-f .social-app {
font-size: 14px;
line-height: 1.42857;
padding-left: 10px;
text-transform: capitalize;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
justify-items:center;
margin-bottom: 5px;
display: flex;
flex-direction: row;
gap: 10px;

}
.right-f .social-img svg{
  height: 23px;
  width: 23px;
  margin: 0 8px;
  cursor: pointer;
  /* display: none; */
  /* gap: 30px; */
}
.whats{
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 35px;
}